<h1>Flights</h1>

<%= render 'search_form' %>

<div id="flash">
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<%= render 'flights_results_selection_form' %>
